@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Prompt:wght@300&display=swap");

* {
  font-family: "Monserrat", sans-serif;
  margin: auto;
}

.App {
  min-height: 100vh;
  /* background: #dd3e54; fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #6be585, #dd3e54);
  background: linear-gradient(to right, #6be585, #dd3e54); */
  background-color: #d8633b;
  background-image: linear-gradient(62deg, #aa7398 0%, #602d5f 100%);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  color: bisque;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  width: 50%;
  border: none;
  padding-top: 1.8px;
}

.search-button {
  background: rgb(231, 105, 105);

  padding: 9px 20px;
  border-radius: 0 10px 10px 0;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.search > input {
  width: 400px;
  height: 32px;
  border-radius: 10px 0 0 10px;
}
.search-button > label {
  margin-right: auto;
  width: 15px;
}
