.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(234, 235, 242);
  background: linear-gradient(
    0deg,
    rgba(234, 235, 242, 1) 57%,
    rgba(231, 193, 22, 0.616) 100%
  );
  align-items: center;
  min-width: 40%;
}
/* .recipe::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(
    226deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 35%,
    rgba(255, 255, 255, 0.2) 42%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.recipe:hover {
  transform: rotateX(7deg) translateY(-6px);
}
.recipe::after {
  transform: translateY(0%);
}

.recipe::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba($c_0, 0.5);
  box-shadow: 0 6px 12px 12px rgba($c_0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
} */

.image {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px maroon;
}
